h1{ color: #79d2f7;
  background-color: #b4c5cc;
  font-size: 24px}
  p { color: #000000;
    background-color: #477e80;
    font-size: 12px}
    ul { color: #3c4785;
      background-color: #bdbfc9
      font-size: 13px}
      ol { color:#c9400a;
        font-size: 11px}
